*{
  margin: 0;
  font-family: 'League Spartan', sans-serif;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #94a684;
}

li {
  float: left;
  padding-top: 10px;
}
.header{
  margin-right: 70%;
  margin-left: 20px;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
  border-radius: 20px;
}

/* HOME-PAGE */

.home-page{
  height: 550px;
  background-color: #94a684;
  padding: 20px 0 0 20px;
  justify-content: center;
}

.p1{
  display: inline-block;
  padding-top: 8%;
}

#head{
  /* display: inline-block; */
  font-size: 80px;
  color: white;
  font-family: 'Protest Strike', sans-serif;
  
}

.head-para{
  font-size: 17px;
  color: rgba(255, 255, 255, 0.696);
}
.head-btn{
  margin-top: 15px;
  height: 35px;
  padding: 2%;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}

#btn-1{
  background-color:#ffc107;
  margin-right: 8px;
}
#btn-2{
  background-color:#94a684;
  margin-right: 5px;
  border: 1px solid;
}

#btn-1:hover{
  background-color:#0e0e0e;
  color: #ffc107;
  /* border: 2px solid white; */
  cursor: pointer;
}
#btn-2:hover{
  background-color:#5a554370;
  color:#f2f1f1;
  cursor: pointer;
}

.hero-img{
  height: 400px;
  float: right;
  padding: 0 90px 0 10px;
}

.hero-img:hover{
  height: 550px;
  padding: 0 ;
  cursor: pointer;

}

/* PAGE 2 */

.page-2{
  height: a;
  display: flex;
  background-color:#d0bfff;
  padding: 10% 0 10% 30px;
}

.product{
  width:300px;
  border: 1px solid #94a684;
  border-radius: 10px;
  padding: 50px 0 50px 0;
  margin-left: 10px;
}

.product:hover{
  background-color: #94a684;
}

.page-2 img{
  width:300px;
}

.IMG-name{
  text-align: center;
  font-size:19px ;

}

.IMG-price{
  text-align: center;
  font-size:19px ;

}

.p2-head{
  font-size: 35px;
  padding-bottom: 10px;
  padding-top: 25%
}

.p2-sub{
  font-size: 17px;

}

.p2-btn{
  background-color: #d0bfff;
  margin-top: 15px;
  height: 35px;
  padding: 2%;
  border: 1px solid;
  border-radius: 6px;
  font-size: 18px;
}

.p2-btn:hover{
  background-color: #94a684e3;
  color: white;
  cursor: pointer;
}